.swiper-container {
  margin: 10px 0;
}

.swiper-slide {
  font-size: 18px;
  background: rgba(255, 255, 255, 0);

}

.swiper-slide img {
  display: block;
  width: 380px;
  height: 420px;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--ligte-background-color);
}

