.Hero {
    padding: 10px;
} 

@media screen and (max-width: 767px) {
    .Hero {
        align-items: center;       
        padding: 0px;
    } 
}

@media screen and (max-width: 1279px) {
    .Hero {        
        padding-top: 30px;
        padding-left: 40px;
    } 

}

@media screen and (min-width: 1280px) {
    .Hero {        
        padding-top: 100px;
        padding-left: 150px;
    } 

}