@import '../../colors.css';
.toggle_box {
    display: flex;
    justify-content:flex-end;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
}

.text{
    padding: 0 10px;
    font-size: 12px;
    font-weight:bold;
    color: var(--background-color);
}