.nav {
    display: flex;
    height: 40px;
    border-bottom: 1px solid var(--background-color);    
}
.navbg {
    height: 30px;
    background: url("../../img/PeonyLines.png") 70%;
}
.ListItem {  
    /* display: flex;   
    flex-wrap: wrap; */
    margin-left: auto;
    list-style: none;
    font-size: 12px;
}
.Item {
    color: var(--text-color);
    margin-right: 15px;

}

@media screen and (min-width: 768px) {
    .nav {
        height: 60px; 
    }
    .navbg {
        height: 40px;
    }
    .ListItem {
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        padding-bottom: 3px;
        list-style: none;
        font-size: 14px;
    }
    .Item {
        margin-right: 15px;    
    }

}

@media screen and (min-width: 1280px) {
    .nav {
        height: 80px;  
    }
    .navbg {
        height: 55px;
    }
    .ListItem {

        padding-bottom: 5px;
        padding-right: 15px;
        font-size: 18px;
    }

    .Item {
        color: var(--text-color);
        margin-right: 30px;
    
    }

    .Item:hover {
        color: var(--background-color);
        transform: scale(1.15);
    }
}
