@media screen and (min-width: 768px) {
    .HomePages {
        height: 540px;
        background: url(../img/BiBody.jpg) center no-repeat;
        background-size: cover;
    }
    /* .HomeImage{
        position: relative;
        top: 0;
        left: 0;
        height: 500px; }*/
    
}

@media screen and (min-width: 1280px) {
    .HomePages {
        height: 580px;   
     }
}