.container {
    position: relative;
    display: inline-block;
    /* padding-top: 5px; */
    padding-right: 0px;
    margin-left: auto;
  }
  
  .button {
    padding: 0;
    width: 50px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: var(--accent-text-color);
    cursor: pointer;
    outline: 0;
    font-size: 30px;
    transition: color 200ms linear;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 150px;
    z-index: 2;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  }
  
  .fade-enter {
    opacity: 0;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .list li {
    padding: 8px 12px;
  }
  
  .list li:hover {
    background-color: var(--ligte-background-color);
    cursor: pointer;
  }
  