.TeamImg {
    width: 260px;
    height: 320px;
    margin: 0;
    object-fit: cover;
}

.InfoBloсk {
    padding: 10px;
    font-size: 14px;
    text-align: center;  
}
.title{
    margin-bottom: 10px;
}

.text_accent{
    margin-bottom: 10px;
    color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
    .TeamItem {
        display: flex;
        align-items: center;
        flex-direction: column;               
        margin: 10px 30px; 
    }
 }

@media screen and (min-width: 768px) {
    .TeamItem {
        display: flex;       
        margin: 20px 40px; 
    }
    .TeamImg {
        width: 300px;
        height: 375px;
        margin-right: 40px;
    }
    .InfoBloсk {
        padding: 15px;
        font-size: 20px; 
        background-color: var(--background-color-section);  
    }
    .title{
        margin-bottom: 15px;
    }    
    .text_accent{
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .TeamItem {     
        margin: 20px 50px; 
    }
    
    .TeamImg {
        width: 320px;
        height: 390px;
        margin-right: 80px;
    }

    .InfoBloсk {
        padding: 20px;
        font-size: 26px; 
    }

}

@media screen and (min-width: 1280px) {
    .TeamItem {     
        margin: 20px 150px; 
    }
    
    .TeamImg {
        width: 350px;
        height: 420px;
        margin-right: 100px;
    }

    .InfoBloсk {
        padding: 20px;
        font-size: 30px; 
    }
    
    .title{
        margin-bottom: 30px;
    }
    
    .text_accent{
        margin-bottom: 30px;
    }
}