/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap'); */

.section {
    display: flex;    
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    padding: 10px;
    /* font-family: 'Cormorant Infant', serif; */
  }
  
  .title {
    z-index: 1;
    margin-top: 0;
    font-size: 32px;
    color: currentColor;
  }

 
  
  @media screen and (min-width: 768px) {

    .title {
      font-size: 40px;
      margin: current;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .title {
      font-size: 48px;
    }
  }