@media screen and (min-width: 768px) {
    .HomePages {
        height: 500px;
        background: url(../../img/BiBody.jpg) 80%;
        background-size: cover;
    }
}

@media screen and (min-width: 1280px) {
    .HomePages {
        height: 540px;    }

}