:root {
    --white-color: white;
    --accent-color: #bc6977;

    --accent-text-color: #f371ae;
    --text-color: rgb(107, 107, 107);
    --title-color: #545454;

    --background-color: #FA9DB9;
    --background-color-section: #ffffff83;
    --ligte-background-color: #FAE3EB; 

    --button-color:#fa6f99c2;
    --ligte-button-color: #fd78a6c9 ;

    --button-nav-color:#fa9db9c7;
    --ligte-nav-button-color: #ffa2c380 ;

  }
  
 