.text {
    padding: 10px;    
    width: 300px;        
    z-index: 1;
}

.Image {
    margin: 15px;
    width: 300px;    
    border-radius: 15%;
}

.ImageBg {  
    position:absolute;
    top: 515px;    
    width: 320px;  
    z-index: 0;
}


@media screen and (min-width: 768px) {
    .text {
        width: 350px;
        padding: 20px;
    }

    .Image {
        position:absolute;
        top: 80px;
        right: 15px;
    }

    .ImageBg {
        top: 120px;
        width: auto;
        height: 280px;  
        left: 10px;
    }

}

@media screen and (min-width: 1280px) {
    .text {
        width: 500px;
        margin-left: 15px;
        font-size: 20px;            
        line-height: 1.5;
    }

    .Image {
        top: 100px;
        right: 100px;
        margin: 15px;
        width: 450px;
    }

    .ImageBg {
        width: auto;
        height: 370px;
        top: 190px;
        left: 110px;
        z-index: 0;
    }
}